*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F54927;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    margin: 0;
}
h1,p{
    color: #333;
}
a{
    text-decoration: none;
    color: #fff;
}
.container-senha{
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    
}
.box-inpult{
    padding: 10px 0;
}
.box-inpult input{
    padding: 10px;
    width: 93%;
    margin-bottom: 4%;
    margin-top: 4%;
    border: 1px solid #bcd1e5;
}
.box-submit{
   padding:10px 20px; 
   background:#F54927;
   color: #fff;
   text-align: center;
   border-radius:20px;
}
.info{
    padding: 20px;
}

